#label_cursor_time {
	background-color: color-mix(in srgb, var(--dialog-bg-color) 70%, transparent);
}

#drop_down_files > button:not(:checked):not(:hover) {
  background: transparent;
  box-shadow: none;
}

progressbar.finished > trough > progress {
  background-color: var(--success-color);
}

progressbar.failed > trough > progress {
  background-color: var(--error-color);
}

.fullscreen-preview {
	background-color: black;
}